$dark-canvas: #524F60;
$opaque-dark-canvas: rgba(82,79,96, 0.75);
$blue: #1fc8db;
$blue-25: rgba(31,200,219, 0.25);
$blue-50: rgba(31,200,219, 0.50);
$blue-75: rgba(31,200,219, 0.75);
$navy: #42afe3;
$green: #83D84E;
$yellow: #FCDB46;
$red: #ed6c63;
$orange: #ff8554;

// Shades of Grey
$grey: #aeb1b5;
$white-75: rgba(255,255,255, 0.75);
$white-50: rgba(255,255,255, 0.5);
$white-25: rgba(255,255,255, 0.25);
$black-50: rgba(0,0,0, 0.50);
$black-25: rgba(0,0,0, 0.25);
$black-10: rgba(0,0,0, 0.10);

// Higlight Colors
$blue2: #199fae;
$blue3: #106B75;
$blue4: #0B4C54;

// Themes
$summer: #f05654;
$ocean: #2E86AB;
$energy: #FF8C61;
$focus: $dark-canvas;
