progress {
  &.progress {
    max-width: 300px;
    margin: 0 auto;

    &::-webkit-progress-bar {
      background: $white-25;
      transition : width 1s ease;
    }
    &::-webkit-progress-value {
      background: $yellow;
      transition : width 1s ease;
    }
    &::-moz-progress-bar {
      background: $yellow;
      transition : width 1s ease;
    }
  }
}
