.routine {
  padding: 2rem 1rem 2rem 1rem;
  max-width: 290px;

  a.button, a.button.is-primary {
    &.apply, &.reset {
      min-width: 50%;
      color: $dark-canvas;

      i {
        padding: 0 1rem 0 1rem;
      }

      &:hover {
        background: $yellow;
        border-color: $yellow;
        color: $dark-canvas;
      }
    }
  }

  .has-icon {
    .input {
      border: none;
      background: $black-10;
      font-size: 1.25rem;

      &[type="text"], &[type="number"], &[type="password"] {
        color: $white-75;
      }

      &:focus + .fa {
        color: $white-75;
      }
    }

    .fa {
      color: $white-50;
    }
  }


  .top-level-opts {
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 1em 0 0;

      &.edit-routine, &.edit-sound {
        a.button {
          background: $blue;
          color: $dark-canvas;
          border-color: $blue;

          &:hover, &.is-active {
            background: $yellow;
            color: $dark-canvas;
            border-color: $yellow;
          }
        }
      }

      &.edit-routine {
        a.button {
          &.is-active {
            &:after {
              content: '\f0d7';
              font-family: 'FontAwesome', sans-serif;
              position: absolute;
              bottom: -1rem;
              left: 0;
              width: 100%;
              font-size: 1rem;
              color: $yellow;
            }
          }
        }
      }
    }
  }

  .select {
    &:after {
      border-color: $dark-canvas;
    }

    select {
      background: $blue;
      border-color: $blue;
      color: $dark-canvas;
    }
  }

  .toggle-list {
    margin: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1rem 1rem 0;
      text-align: center;

      a.button {
        background: $blue-25;
        color: $dark-canvas;
        border-color: $blue-25;
        border-width: 1px;

        &.is-outline {
          &:hover {
            color: red;
          }
        }

        &:hover {
          background: $yellow;
          color: $dark-canvas;
          border-color: $yellow;

          &.is-active {
            color: $dark-canvas;
          }
        }

        &.is-active {
          background: $blue;
          border-color: $blue;
        }
      }
    }
  }

  .help {
    text-align: right;
    color: $grey;
    font-size: 125%;
  }
}
