.routine-meta {
  ul {
    display: table;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 0 0.5rem 0;
    li {
      display: table-cell;
      width: 100%;

      &.title {
        text-align: left;
        font-size: 1.25rem;
        color: $yellow;
        font-weight: 400;
      }

      &.total-time {
        text-align: right;
        font-size: 1rem;
        color: white;
      }
    }
  }
}
