.theme-picker {
  text-align: center;
  margin: 0 auto;
  background: $white-25;
  padding: 0 0 0.5em 0;

  ul {
    max-width: 320px;
    margin: 0 auto;

    li {
      display: inline-block;

      &.special-theme-icon {
        color: $white-75;
        font-size: 1.25em;
        width: 1.5em;
      }

      a {
        &.theme {
          display: inline-block;
          vertical-align: middle;
          padding: 0.5rem 0.25rem 0.5rem 0.25rem;

          &.is-active {
            &:after {
              border-color: $yellow;
            }
          }

          &:after {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border: 1px solid $black-25;
            padding: 0.25rem;
          }

          &.summer {
            &:after {
              background: $summer;
            }
          }

          &.ocean {
            &:after {
              background: $ocean;
            }
          }

          &.energy {
            &:after {
              background: $energy;
            }
          }

          &.focus {
            &:after {
              background: $focus;
            }
          }

          &.blurple {
            &:after {
              background: #4776E6; /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
          }

          &.sunrise {
            &:after {
              background: #f46b45; /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
          }

          &.emerald {
            &:after {
              background: #4CB8C4; /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
          }

          &.rosewater {
            &:after {
              background: #E55D87; /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
          }

        }
      }
    }
  }
}
