body {
  background: $dark-canvas;
  padding: 0;
  margin: 0;
}

main {
  background: $dark-canvas;

  &.mp-bulma {
    .section {
      // Main theme
      padding: 0;
      margin: 0;
      background: $summer;
      -webkit-transition: background-color 250ms ease-out 100ms;
      -moz-transition: background-color 250ms ease-out 100ms;
      -o-transition: background-color 250ms ease-out 100ms;
      transition: background-color 250ms ease-out 100ms;

      &.summer {
        background: $summer;
      }

      &.ocean {
        background: $ocean;
      }

      &.focus {
        background: $focus;
      }

      &.energy {
        background: $energy;
      }

      &.blurple {
        background: #4776E6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &.sunrise {
        background: #f46b45; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &.emerald {
        background: #4CB8C4; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &.rosewater {
        background: #E55D87; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &.gradient {
        background:
        	linear-gradient(
        		#f05654,
        		transparent
        	),
        	linear-gradient(
        		90deg,
        		#f05654,
        		transparent
        	),
        	linear-gradient(
        		-90deg,
        		#e43c4d,
        		transparent
        	);

        background-blend-mode: darken, luminosity;
      }

      // Layout
      .radial-progress {
        text-align: center;
      }

      .controls {
        background: $opaque-dark-canvas;

        .container {
          max-width: 450px;
          margin: 0 auto;
        }
      }

      // Tabs
      .tabs li, .tabs li a {
        transition: 0.3s ease all;
      }

      // Button
      .button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: 0.3s ease all;

        &.is-primary {
          &:hover {
            color: white;
          }
        }

        &:hover {
          color: $blue;
          border-color: $blue;
        }

        &:focus {
          background-color: $blue;
        }

        &:active {
          background-color: $blue2;
        }
      }

      // Misc
      .hide {
        display: none;
      }

      .fa {
        display: inline-block;
        vertical-align: middle;
      }

      .pulsate {
        animation: pulsate 3s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.25;

        &.pulsate-quick {
          animation: pulsate 1s ease-out;
          animation-iteration-count: infinite;
        }
      }
      @keyframes pulsate {
        0% {
            opacity: 0.25;
        }
        50% {
            opacity: 1.0;
        }
        100% {
            opacity: 0.25;
        }
      }
    }

    footer {
      &.footer {
        background: none;
        padding-top: 0.5em;

        ul {
          text-align: right;

          li {
            display: inline-block;

            a {
              display: inline-block;
              vertical-align: middle;
              padding: 0 1rem 0 0;
              color: $white-25;

              &:hover, &.mit:hover {
                color: white;
              }

              &.mit {
                font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
